<div class="search-row">
	<div class="container-fluid">
		<div class="">

		    <section id="search-sidebar" class="<%= sidebar_classes %> order-first">
		      <%= render partial: 'grenander/source_options' %>
		    </section>

		    <section id="search-content" class="<%= main_content_classes %> order-last">
                      <%= render partial: 'grenander/search_source' %>
                    </section>

		</div>
	</div>
</div>
