<div class="d-flex align-items-center">
	<div class="navbar navbar-expand-sm search-source flex-fill">
		<div class="source-box container-fluid">
			<h2 class="search-intro"><%= source_name %></h2>
			<%= render partial: 'grenander/search_bar' %>
		</div>
	</div>
</div>
