<footer>
	<div class="container">
		<div class="row">
			<div class="footer col-md-12 text-center text-muted">
				<div class="spc-footer">
					<div class="footLeft">
						<p>Open to the public Monday-Friday, 9am-5pm</p>
						<p>Closed for some state holidays and winter intersession</p>
						<p>Located on the top floor of the Science Library on the Uptown Campus</p>
						<p><a href="https://archives.albany.edu/web/directions">Hours and Directions</a></p>
						<p class="footerLogo"><a href="https://github.com/samvera/hyrax"><img src="/hyrax_logo.png"/></a> v<%= Hyrax::VERSION %>. <%= t('hyrax.footer.service_html') %> </p>
					</div>
					<div class="footRight">
					<a href="https://library.albany.edu">
					<img src="https://apps.library.albany.edu/dbfinder/images/ulib-logo.png">
					</a>
						<p>M. E. Grenander Department of Special Collections &amp; Archives</p>
						<p>Science Library 350</p>
						<p>1400 Washington Avenue</p>
						<p>Albany, NY 12222</p>
						<p>(518) 437-3935</p>
					</div>
					<div style="clear: both;"></div>
				</div>
			</div>
		</div>
	</div>
</footer>

<!-- loads Contact modal -->
<script src="https://apps.library.albany.edu/host/archives/contact-archives.js"></script>
