<nav class="navbar navbar-expand-md navbar-inverse navbar-dark topbar" role="navigation">
  <div class="container">
    <%= link_to application_name, root_path, class: 'navbar-brand navbar-logo' %>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
    <!--<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#user-util-collapse" aria-controls="user-util-collapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>-->

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      	<li class="nav-item dropdown">
	      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
	        All Collections <span class="caret"></span>
	      </a>
	      <div class="dropdown-menu">
	        <a class="dropdown-item" href="#">About Collections</a>
	        <a class="dropdown-item" href="#">NY State Modern Political Archive</a>
	        <a class="dropdown-item" href="#">National Death Penalty Archive</a>
	        <a class="dropdown-item" href="#">German Intellectual Émigré</a>
	        <a class="dropdown-item" href="#">University Archives</a>
	        <a class="dropdown-item" href="#">Mathes Childrens Literature</a>
	        <a class="dropdown-item" href="#">Business and Literary Manuscripts</a>
	        <a class="dropdown-item" href="#">Rare Books</a>
	        <a class="dropdown-item" href="#">Web Archives</a>
	        <div class="dropdown-divider"></div> 
	        <a class="dropdown-item" href="#">A-Z Complete List of Collections</a>
	        <a class="dropdown-item" href="#">Subject Guides to Collections</a>
	      </div>
	    </li>

	    <li class="nav-item dropdown">
	      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
	        Online Content <span class="caret"></span>
	      </a>
	      <div class="dropdown-menu">
	      	<a class="dropdown-item" href="#">Online Exhibits</a>
	      	<a class="dropdown-item" href="#">Espy Project Execution Records</a>
	        <a class="dropdown-item" href="#">University Photograph Collections</a>
	        <a class="dropdown-item" href="#">Albany Student Press</a>
	        <a class="dropdown-item" href="#">University Senate Legislation</a>
	        <a class="dropdown-item" href="#">Yearbook Collection</a>
	        <a class="dropdown-item" href="#">The Milne School</a>
	        <a class="dropdown-item" href="#">WAMC Northeast Public Radio</a>
	        <a class="dropdown-item" href="#">CSEA Publications</a>
	        <a class="dropdown-item" href="#">More...</a>
	      </div>
	    </li>

	    <li class="nav-item dropdown">
	      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
	        About <span class="caret"></span>
	      </a>
	      <div class="dropdown-menu">
	        <a class="dropdown-item" href="#">Using the Archives</a>
	        <a class="dropdown-item" href="#">Hours and Directions</a>
	        <a class="dropdown-item" href="#">News Updates</a>
	        <a class="dropdown-item" href="#">University Records</a>
	        <a class="dropdown-item" href="#">Find Other Historical Repositories</a>
	        <a class="dropdown-item" href="#">Awards</a>
	        <a class="dropdown-item" href="#">Staff</a>
	        <a class="dropdown-item" href="#">Documentation Site</a>
	      </div>
	    </li>

	    <li class="nav-item">
	      <a class="nav-link" href="#">Contact</a>
	    </li>
      </ul>
    </div>
  </div>
</nav>
