<div id="searchSub" class="navbar navbar-expand-sm searchSubnav">

	<div class="container">
    
        <% if params[:find].present? %>
			<% @query = params[:find] %>
		<% else %>
			<% @query = current_search_parameters %>
		<% end %>

		<%= form_tag search_form_action, method: :get, class: "search-query-form hyraxSearch", role: "search" do %>
		  <%= render_hash_as_hidden_fields(search_state.params_for_search.except(:q, :search_field, :qt, :page, :utf8)) %>
  		  <%= hidden_field_tag :search_field, 'all_fields' %>
	      <div class="input-group">
            <input name="q" id="params-q" value="<%= @query %>" placeholder="Search only online digital content..." class="search_q q form-control tt-input" type="text" />
            <input type="hidden" name="search_field" id="search_field" value="all_fields" />
			<div class="input-group-btn">
			    <button id="currentSelection" class="btn btn-secondary dropdown-toggle searchSelect" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			   Digital Selections <span class="caret"></span></button>
			   <button class="btn btn-secondary dropdown-toggle searchSelect noText" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
			    <div class="dropdown-menu dropdown-menu-right searchOptions">
			      <li><a class="dropdown-item" id="allSearch" data="allSearch" href="#">Everything</a></li>
			      <li><a class="dropdown-item" id="arclightSearch" data="arclightSearch" href="#">Collections</a></li>
			      <li><a class="dropdown-item" id="hyraxSearch" data="hyraxSearch" href="#">Digital Selections</a></li>
			    </div>
			</div>
	        <div class="input-group-btn">
				<button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
		  	</div>
		  </div>
		<% end %>

		<a class="aboutSearch" href="/search"><i class="fa fa-question-circle"></i> Search Help</a>

	</div>

</div>
