<nav id="manifest-nav" class="navbar navbar-inverse navbar-top navbar-expand-md navbar-dark bg-dark topbar" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>

      <div class="navbar-brand">
          <a class="logo" data-toggle="tooltip" title="Archives Home" href="https://library.albany.edu/archive/">
            <img src="https://archives.albany.edu/browse/icons/ua/mainLogo.png" />
          </a><a data-toggle="tooltip" title="UAlbany Libraries" class="ualbany" href="https://library.albany.edu/">
          <img src="https://archives.albany.edu/browse/icons/ua/ualbany.png" />
        </a>
        <a class="smallLogo"  data-toggle="tooltip" title="Archives Home" href="https://library.albany.edu/archive/"><img src="https://archives.albany.edu/browse/icons/ua/mainLogo.png"></img></a>
      </div>
    </div>
  

    


  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav" id="topNavMenu">

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Collections <span class="caret"/>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="https://library.albany.edu/archive/collections">About Collections</a>
          </li>
          <li>
            <a href="https://archives.albany.edu/browse/apap.html">NY State Modern Political Archive</a>
          </li>
          <li>
            <a href="https://archives.albany.edu/browse/91.html">National Death Penalty Archive</a>
          </li>
          <li>
            <a href="https://archives.albany.edu/browse/ger.html">German Intellectual Émigré</a>
          </li>
          <li>
            <a href="https://library.albany.edu/archive/ua">University Archives</a>
          </li>
          <li>
            <a href="https://library.albany.edu/archive/mathes">Mathes Childrens Literature</a>
          </li>
          <li>
            <a href="https://archives.albany.edu/browse/mss.html">Business and Literary Manuscripts</a>
          </li>
          <li>
            <a href="https://library.albany.edu/archive/books">Rare Books</a>
          </li>
          <li role="separator" class="divider"></li>
          <li>
            <a href="https://archives.albany.edu/browse/alpha.html">A-Z Complete List of Collections</a>
          </li>
          <li>
            <a href="https://archives.albany.edu/browse/subjects.html">Subject Guides to Collections</a>
          </li>
          <li>
            <a href="https://library.albany.edu/archive/historicalresources/">Find Other Historical Repositories</a>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Digital Selections <span class="caret"/>
        </a>
        <ul class="dropdown-menu">
            <li><a href="https://library.albany.edu/archive/digitalselections">About Digital Selections</a></li>
            <li><a href="https://archives.albany.edu/catalog?f[resource_type_sim][]=Image">Digital Photograph Collections</a></li>
            <li><a href="https://archives.albany.edu/catalog?f[collection_sim][]=Student+Newspapers+Collection">Search Student Newspaper (ASP) Archive</a></li>
            <li><a href="https://archives.albany.edu/catalog?f[collection_sim][]=University+Photograph+Collection">University Photographs</a></li>
            <li><a href="https://archives.albany.edu/catalog?f[collection_sim][]=United+University+Professions+(UUP)+Records">United University Professions</a></li>
            <li><a href="https://library.albany.edu/archive/milnedigitalcollections">Milne School</a></li>
            <li><a href="https://archives.albany.edu/collections/catalog/apap138">WAMC Northeast Public Radio</a></li>
            <li><a href="https://archives.albany.edu/catalog?f[collection_sim][]=Marcia+Brown+Papers">Marcia Brown</a></li>
            <li><a href="https://archives.albany.edu/catalog?f[collection_sim][]=Civil+Service+Employees+Association%2C+Inc.+(CSEA)%2C+American+Federation+of+State%2C+County%2C+and+Municipal+Employees+(AFSCME)+Local+1000+Records">Civil Service Employees Association (CSEA)</a></li>
            <li><a href="https://archives.albany.edu/catalog?f[collection_sim][]=Norman+Studer+Papers">Norman Studer</a></li>
            <li><a href="https://archives.albany.edu/collections/catalog/apap015aspace_90e13b5a023aefdb6ab5d1de295703fc">CSEA Newspaper Archive</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Exhibits <span class="caret"/>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="https://library.albany.edu/archive/chronology">Chronological History of UAlbany</a>
          </li>
          <li>
            <a href="https://library.albany.edu/archive/onthemake">University on the Make, 1960-1970</a>
          </li>
          <li>
            <a href="https://library.albany.edu/archive/seeger">Remembering Pete Seeger</a>
          </li>
          <li>
            <a href="https://library.albany.edu/archive/exhibitmilne">The Milne School Murals</a>
          </li>
          <li>
            <a href="https://archives.albany.edu/static/exhibits/campusbuildings/index.htm">Campus Buildings Historical Tour <span class="glyphicon glyphicon-new-window"></span></a>
          </li>
          <li>
            <a href="https://archives.albany.edu/static/exhibits/marciabrown/index.htm">Marcia Brown Exhibit and Resource Website <span class="glyphicon glyphicon-new-window"></span></a>
          </li>
          <li>
            <a href="https://archives.albany.edu/static/exhibits/secretlives/index.htm">The Secret Lives of Toys and Their Friends <span class="glyphicon glyphicon-new-window"></span></a>
          </li>
          <li>
            <a href="https://library.albany.edu/archive/exhibits">More...</a>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Donors &amp; Records <span class="caret"/>
        </a>
        <ul class="dropdown-menu">
          <li><a href="https://library.albany.edu/archive/outside_donors">Outside Donations of Records</a></li>
          <li><a href="https://library.albany.edu/archive/giving">Giving to the Archives</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="https://library.albany.edu/archive/ua/transferform">Transfer University Records</a></li>
          <li><a href="https://library.albany.edu/archive/ua/faq">University Records FAQ</a></li>
          <li><a href="https://library.albany.edu/archive/ua/recordsCharts">University Records Charts</a></li>
          <li><a href="http://wiki.albany.edu/display/public/askit/Information+Security+Domains%2C+Supporting+Protocols+and+Procedures">About CIO Data Classification System <span class="glyphicon glyphicon-new-window"></span></a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"/>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="https://library.albany.edu/archive/mission">Mission &amp; Purpose</a>
          </li>
          <li>
            <a href="https://library.albany.edu/archive/visit">Visiting the Archives</a>
          </li>
          <li>
            <a href="https://library.albany.edu/archive/directions">Hours and Directions</a>
          </li>
          <li>
            <a href="http://liblogs.albany.edu/grenander/">News</a>
          </li>
          <li>
            <a href="https://library.albany.edu/archive/reference">Make a Request</a>
          </li>
          <li>
            <a href="https://library.albany.edu/archive/publish_cite">Publishing &amp; Citing</a>
          </li>
          <li>
            <a href="https://library.albany.edu/archive/staff">Staff</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="https://library.albany.edu/archive/reference">Contact</a>
      </li>
      
      <div id="stickysearchBox">
           <a role="button" id="toggleSearch" class="btn"><i class="fa fa-search"></i></a>
      </div>

      <!--<div id="searchBox" class="float-right">
       <%# render_search_bar %>
      </div>-->

      <!--<div class="col-sm-3 col-md-3 pull-right" id="searchBox">
        <form class="navbar-form" role="search" action="http://meg.library.albany.edu:8080/archive/search">
          <div class="input-append btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Search Options" aria-haspopup="true" aria-expanded="false">
              <span class="caret" data-toggle="tooltip" title="Search Options"/>
            </button>
            <ul class="dropdown-menu">
              <li>
                <a id="searchCollections" data-toggle="tooltip" title="Search Archival Collections">
                  <span class="glyphicon glyphicon-ok"></span> Collections</a>
                </li>
                <li>
                  <a id="searchPhotos" data-toggle="tooltip" title="Search Online Digital Content">
                    <span class="glyphicon glyphicon-none"></span> Digital Selections <span class="glyphicon glyphicon-new-window"></span>
                  </a>
                </li>
                <li>
                  <a id="searchBooks" data-toggle="tooltip" title="Search Rare Books">
                    <span class="glyphicon glyphicon-none"></span> Rare Books <span class="glyphicon glyphicon-new-window"></span>
                  </a>
                </li>
                <li>
                  <a id="searchMathes" data-toggle="tooltip" title="Search Children's Literature Collection">
                    <span class="glyphicon glyphicon-none"></span> Mathes Children's Literature <span class="glyphicon glyphicon-new-window"></span>
                  </a>
                </li>
                <li>
                  <a id="searchAsp" data-toggle="tooltip" title="Search the Student Newspaper">
                    <span class="glyphicon glyphicon-none"></span> Student Newspaper <span class="glyphicon glyphicon-new-window"></span>
                  </a>
                </li>
                <li>
                  <a id="searchWebArch" data-toggle="tooltip" title="Search Web Archives">
                    <span class="glyphicon glyphicon-none"></span> Web Archives</a>
                  </li>
                </ul>
                <input type="text" class="form-control" placeholder="Collections" name="keyword"></input>
                <input type="hidden" name="browse-all" value="yes"> 
                <span class="input-group-addon">
                  <button type="submit">
                    <span class="glyphicon glyphicon-search"/>
                  </button>
                </span>
              </div>
            </form>
          </div>-->
        </ul>
      </div>
    </div>
  </div>
</nav>

