<div class="card-header">
	<div class="sidebar-collection-title">
	<a href="<%= Hyrax::Application.config.arclight_url %>/catalog/<%= @collection_uri %>">
		<h5 class="collection-name">
			<%= presenter.collection_number[0] %>
		</h5>
	</a>
	</div>
</div>
